/* src/Components/Pages/Clock.css */

.clock__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: #bf5050;
  border-radius: 10px;
}

.clock__data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.clock__data .text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-white {
  color: #fff;
}

.fs-3 {
  font-size: 2rem;
}

.fs-6 {
  font-size: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}
