body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.login-container {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.login-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #0e0d0d; /* Set font color to black */
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #ff7e5f;
  border: none;
  border-radius: 4px;
  color: #0e0d0d; /* Set font color to black */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #feb47b;
}

.signup-link {
  margin-top: 20px;
  color: #333;
}

.signup-link a {
  color: #ff7e5f;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}
