/* StarRating.css */
.star-rating {
    display: flex;
    direction: row;
  }
  
  .star-rating .fas {
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
    margin-right: 5px;
  }
  
  .star-rating .fas.checked {
    color: #ff9800;
  }
  